@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center
}
.pageWrapper {
    margin-top: 1.5rem;
    height: 95vh;
    width: 97vw;
    background: linear-gradient(to bottom left, rgb(255, 222, 37), rgb(255, 25, 75));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
}


.gameBox {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ddd;
    border-radius: 10px;
}

.player1, .player2, .middleBox {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.middleBox {
    /*TEMPORARY SOLUTION. Got to make z-index and stuff*/
    background: linear-gradient(to right, #eee,rgb(240, 180, 83));
}

img {
    border-radius: 10px;
}

.player1 {
    background-color: #eee;
    width: 350px;
}
.player2 {
    background-color: rgb(240, 180, 83);
    width: 350px;
}

h1 {
    font-size: 2rem;;
}

.currentP1, .currentP2 {
    background-color: rgba(255, 0, 43, 0.65);
    padding: 0.5rem;
    border-radius: 10px;
}

h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-top: -1rem;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 1px;  
}


i {
    margin: 0 0.5rem;
}


.current1, .current2 {
    margin-top: 1.5rem;
    background-color: rgb(230, 71, 98);
    padding: 0 1rem;
    border-radius: 10px;
    width: 130px;
    height: 120px;
}


button {
    font-family: 'Roboto Mono', monospace;
    color: #000;
    font-size: 1rem;
    text-transform: uppercase;
    background: none;
    font-weight: 200;
    margin:1.5rem;
    padding: 0.25rem 0.5rem;
    border-radius:5px;
    border: none;
}

button:hover {
    scale:1.1;
}

#newGame {
    letter-spacing: 2px;;
}